html
  head
    title Remove Task
  body
    h1 Remove Task
    form(action='/removeTask', method='post')
      label(for='task_name') Task Name:
      input(type='text', name='task_name', required)
      br
      label(for='task_start_date') Task Start Date:
      input(type='text', name='task_start_date', required)
      br
      label(for='user_id') User ID:
      input(type='text', name='user_id', required)
      br
      button(type='submit') Remove Task
